@{
    ViewBag.Title = "FeedApp";
}

<div class="container-center">

    <h1>Добро пожаловать в FeedApp, @User.Identity.Name!</h1>

    <div class="container">
        <a class="link" asp-controller="Feed" asp-action="Feed">Блог</a>
    </div>
</div>